.tree-list {
    padding: 0;
    margin: 0;
}
.tree-list__select-item .tree-list__body {
    padding: 2px;
}
.tree-list__body {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #333;
    margin-top: -1px;
}
.tree > .tree-list > :first-child > .tree-list__body {
    margin-top: 0;
}
.tree-list__item .tree-list__body:hover {
    background-color: #f5f5f5;
    border: 1px solid #333;
}
.tree-list__button {
    display: inline-block;
}
.tree-list__item {
    display: block;
}
.tree-list__name {
    font-weight: bold;
    display: inline-block;
    padding: 0 5px;
}
.tree-list__item .tree-list {
    margin-left: 7%;
    display: none;
}
.tree-list__item.opened > .tree-list {
    display: block;
}
.tree-list__item.opened > .tree-list__body .btn-ui--open {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.tree-list__select-item .tree-list {
    display: block;
}