.tree {
    height: 100%;
    overflow-y: auto;
}
.tree-list {
    padding: 0;
    margin: 0;
}
.tree-list .tree-list__item .tree-list__body {
    border: 1px solid #333;
    border-bottom: none;
    cursor: pointer;
}
.tree-list .tree-list__item.opened > .tree-list__body {
    border-bottom: 1px solid #333;
}
.tree-list__item > .tree-list > :first-child .tree-list__body {
    border-top: none;
}
.tree > .tree-list > :last-child .tree-list__body {
    border-bottom: 1px solid #333;
}
.tree-list__item .tree-list__body:hover {
    background-color: #f5f5f5;
}
/*.tree-list > :first-child .tree-list__body {
    border-top: 1px solid #333;
}
.tree-list__item > ul > :first-child .tree-list__body {
    border-top: none;
}*/

/*.tree-list__item.opened > ul > :last-child .tree-list__body {
    border-bottom: none;
}*/
/*.tree-list__item.opened + .tree-list__item .tree-list__body {
    border-top: 1px solid #333;
}*/

.tree-list__item {
    display: block;
}
.tree-list__body {
    padding: 5px;
}
.tree-list__name {
    font-weight: bold;
}
.tree-list__name {
    display: inline-block;
}
.tree-list__name {
    padding: 0 5px;
}
.tree-list__item .tree-list {
    margin-left: 7%;
    /*display: none;*/
}
.tree-list__item > .tree-list.active {
    display: block;
}
.tree-list__item .tree-list {
    display: block;
}