$btn-view: (
    open: '\f107',
    edit: '\f044',
    delete: '\f1f8',
    add: '\f067',
    close: '\f00d'
);

.btn-ui {
    border: 1px solid #ddd;
    display: inline-block;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    line-height: 1;
    &:hover {
        background-color: #ddd;
    }
    &:before {
        font-family: FontAwesome;
        font-size: 12px;
        color: #000;
    }
    @each $key, $value in $btn-view {
        &--#{$key}::before {
            content: $value;
        }
    }
}