.error-message {
  width: 100%;
  position: fixed;
  opacity: 0;
  bottom: -100%;
  left: 0;
  background-color: var(--color-red);
  font-size: 12px;
  color: var(--color-white);
  padding: 5px 0;
  transition: 1.5s ease-in-out;
  &.active {
    opacity: 1;
    bottom: 0;
  }
  &__heading {
    font-weight: 700;
    margin-bottom: 5px;
  }
}