.todo-list {
    margin: 0;
    padding: 0;
    padding-top: 1px;
    &__item {
        display: block;
        padding: 25px;
        border: 1px solid var(--border-color);
        margin: -1px 0;
    }
    &__item:hover {
        background-color: var(--accent-h);
    }
}