.modal-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.modal {
	padding: 25px;
	border: 1px solid var(--color-mineshaft);
	background-color: var(--color-white);
	width: 500px;
	position: relative;
	&__close {
		width: 35px;
		height: 35px;
		position: absolute;
		right: 0;
		top: 0;
		text-align: center;
		opacity: 0.65;
		color: var(--color-black);
		font-style: normal;
		font-size: 28px;
		cursor: pointer;
		user-select: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__head {
		text-align: center;
		font-size: 20px;
		font-family: var(--font-main);
		font-weight: bold;
	}
	&__body {
		margin-top: 20px;
	}
	&__line {
		padding: 5px 0;
	}
	&__input {
		border: 1px solid var(--color-mineshaft);
		width: 100%;
		padding: 3px 10px;
	}
	&__checkbox,
	&__label {
		user-select: none;
		cursor: pointer;
	}
}
.btn {
	cursor: pointer;
	&--action {
		padding: 5px 15px;
		border: 1px solid var(--color-mineshaft);
		&:hover {
			background-color: var(--color-alto);
		}
	}
}
