.search-block {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    &__input {
        border: none;
        width: 95%;
        padding: 5px 10px;
    }
    &__button {
        margin-right: 3px;
    }
}