:root {
	--color-main: #000;
	--color-black: #000;
	--color-white: #fff;
	--color-wildsand: #f5f5f5; /*elements hover*/
	--color-mercury: #e5e5e5; /*select-bg*/
	--color-silver: #ccc; /*select-bg-hover*/
	--color-mineshaft: #333; /*border*/
	--color-alto: #ddd; /*btn-hover btn-border*/
}
